[submodule "tut1/tut1_159251"]
	path = tutorials/tut1_159251
	url = https://github.com/mmbi-glitch/tut1_159251
[submodule "tut2_159251"]
	path = tutorials/tut2_159251
	url = https://github.com/mmbi-glitch/tut2_159251
